* {
  font-family: "IBM Plex Mono", monospace;
}

html {
  background: black;
  color: white;
}

body,
html,
main {
  min-height: 100%;
  margin: 0;
  padding: 0;
}

#home body {
  flex-direction: column;
  display: flex;
  align-items: flex-start;
}

#home main {
  flex-grow: 1;
  justify-content: flex-start;
}

html {
  max-width: 720px;
  max-width: 70ch;
  margin: 0 auto;
}

body {
  margin: 20px;
}

h1,
h2,
h3 {
  text-align: center;
}

main {
  font-size: 24px;
  max-width: 70ch;
  margin: 0 auto;
  /* padding-left: 10vw;
  padding-right: 10vw; */
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
}

a {
  color: cyan;
  font-weight: 600;
}

a:hover {
  text-decoration: underline;
  color: cyan;
}

#home ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 3rem;
}

#home li {
  /* text-align: center; */
  margin: 3rem 0;
}

footer {
  text-align: center;
  padding: 3rem;
}

#home header {
  display: flex;
  flex-direction: row;
  text-align: center;
  font-weight: bold;
  align-items: center;
}

#me {
  max-height: 64px;
  object-fit: cover;
  border-radius: 4px;
  margin-right: 20px;
}

div {
  background-color: black;
  color: red;
}

div > a {
  color: cyan;
}

.links {
  background: #00008B
;
  padding: 16px;
}

.links h2 {
  text-align: left;
}

#home .links ul {
  margin:0;
  padding: 0px;
  column-count:2;
  
}

#home .links ul li {
  margin: 8px 0px; 
}