* {
  font-family: "IBM Plex Mono", monospace;
  box-sizing: border-box;
}

html {
  background: green;
  color: white;
  background-image: url(
      https://cdn.glitch.com/cfafd7b8-0f01-442b-9540-6176597f229c%2Fmc-sword.png?v=1608372535835
    ),
    url(https://cdn.glitch.com/cfafd7b8-0f01-442b-9540-6176597f229c%2FMinecraft-Pickaxe-diamond.png?v=1608372994331);
  background-repeat: repeat-y;
  background-size: 30%;
  background-position: -200px 0px, 145% 0;
}

html:xbefore {
  content: "";
  background-image: url(https://cdn.glitch.com/cfafd7b8-0f01-442b-9540-6176597f229c%2Fmc-sword.png?v=1608372535835);
  width: 33%;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
}

body,
html,
main {
  min-height: 100%;
  margin: 0;
  padding: 0;
}

#home body {
  background: black;
  /*   opacity: 0.2; */
  flex-direction: column;
  display: flex;
  align-items: flex-start;
  padding: 16px;
  margin: 0;
}

#home main {
  flex-grow: 1;
  justify-content: flex-start;
}

html {
  max-width: 720px;
  max-width: 70ch;
  margin: 0 auto;
}

body {
  margin: 20px;
}

h1,
h2,
h3 {
  text-align: center;
}

main {
  font-size: 24px;
  max-width: 70ch;
  margin: 0 auto;
  /* padding-left: 10vw;
  padding-right: 10vw; */
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
}

a {
  color: cyan;
  font-weight: 600;
}

a:hover {
  text-decoration: underline;
  color: cyan;
}

#home ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 1rem;
}

#home li {
  /* text-align: center; */
  margin: 1rem 0;
}

footer {
  text-align: center;
  padding: 3rem;
}

#home header {
  display: flex;
  flex-direction: row;
  text-align: center;
  font-weight: bold;
  align-items: center;
}

#me {
  max-height: 64px;
  object-fit: cover;
  border-radius: 4px;
  margin-right: 20px;
}

div {
  background-color: black;
  color: red;
}

div > a {
  color: cyan;
}

.links {
  background: #00008B;
  padding: 16px;
  width: 100%;
}

.links h2 {
  text-align: left;
}

#home .links ul {
  margin: 0;
  padding: 0px;
  column-count: 2;
}

#home .links ul li {
  margin: 8px 0px;
}
